$orbitron: "Orbitron", sans-serif;
$metafont: "Metrophobic", sans-serif;

$futureblack: #000;
$futurecolor: #2fe1eb;
$plainwhite: #eaeaea;

$backgroundshade: linear-gradient(rgba(0, 0, 0, 0.2), rgba(80, 51, 8, 0.397));
